<ul class="user-stream">
  {{#each @model as |pending_post|}}
    <PendingPost @post={{pending_post}} />
  {{else}}
    <div class="empty-state">
      <span class="empty-state-title">{{i18n "pending_posts.empty.title"}}</span>
      <div class="empty-state-body">
        <p>{{i18n "pending_posts.empty.body"}}</p>
      </div>
    </div>
  {{/each}}
</ul>
